<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="exampleModalLabel">Join as Member</h5>
      </div>
      <form method="post" action="/members">
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="control-label pull-left" style="font-size: 16px;">FirstName:</label>
            <input type="text" class="form-control" name="member[first_name]" id="recipient-name" required="true">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label pull-left" style="font-size: 16px;">LastName:</label>
            <input type="text" class="form-control" name="member[last_name]" id="recipient-name" required="true">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label pull-left" style="font-size: 16px;">Email:</label>
            <input type="text" class="form-control" name="member[email]" id="recipient-name" required="true">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label pull-left" style="font-size: 16px;">Address:</label>
            <textarea class="form-control" name="member[address]" id="message-text" required="true"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Send message"></input>
      </div>
      </form>
    </div>
  </div>
</div>