<div class="content cont2"><div class="ic">More Website Templates @ TemplateMonster.com - February 24, 2014!</div>
	<div class="container_12">
		<div class="grid_12">
			<h2 class="mb0">Find Us</h2>
		</div>
	</div>
</div>
<div class="gray_block gb1">
	<div class="container_12">
		<div class="grid_4">
			<h2 class="head1">Address</h2>
			<address>
				<dl>
					<dt>M.K Palace <br>
						Faridkot chowk, Moga road,<br>
						Ferozepur Cantt.
					</dt>
					<br>
				  <dt>Head Office: <br>
            T20 Energy Drinks USA, L.L.C<br>
            6221 West Atlantic Boulvard,<br>
            Margate FL 33063,<br>
            UNITED STATES OF AMERICA
          </dt>
					<dd><span>Office:</span>+9197792-62897</dd>
					<dd><span>FAX:</span>+911632-2210444</dd>
					<br>
					<dd><span>Mobile:</span></dd>
					<dd><span>Shamsher Singh:</span> +9194172-00004</dd>
					<dd><span>Gurbaksh Singh:</span> +9194638-00045</dd>
					<dd><span>G.S Randhawa:</span> +9188729-21611</dd>
					<br>
					<dd><span>USA:</span></dd>
					<dd><span>Arwind Singh:</span>+1778-891-2357</dd>
					<br>
					<dd><span>E-mail:</span><a href="#">T20drinks.india@gmail.com</a></dd>
				</dl>
			</address>
		</div>
		<div class="grid_8">
			<h2 class="head1">Contact Form</h2>
			<%= form_tag contact_form_welcome_index_url, :method => :post, :id => "form" do |f|%>
				<div class="success_wrapper">
					<div class="success-message">Contact form submitted</div>
				</div>
				<label class="name">
					<input type="text" placeholder="Name:" data-constraints="@Required @JustLetters" />
					<span class="error-message">*This is not a valid name.</span>
				</label>
				<label class="email">
					<input type="text" placeholder="E-mail:" data-constraints="@Required @Email" />
					<span class="error-message">*This is not a valid email.</span>
				</label>
				<label class="phone">
					<input type="text" placeholder="Phone:" data-constraints="@Required @JustNumbers"/>
					<span class="error-message">*This is not a valid phone.</span>
				</label>
				<label class="message">
					<textarea placeholder="Message:" data-constraints='@Required @Length(min=20,max=999999)'></textarea>
					<span class="error-message">*The message is too short.</span>
				</label>
				<div>
					<div class="clear"></div>
					<div class="btns">
						<a href="#" data-type="reset" class="btn">clear</a>
						<a href="#" data-type="submit" class="btn">send</a>
					</div>
				</div>
			<%end%>
		</div>
	</div>
</div>