<div class="content cont2"><div class="ic">More Website Templates @ TemplateMonster.com - February 24, 2014!</div>
	<div class="container_12">
		<div class="grid_12">
			<h2 class="mb0">Our Projects</h2>
		</div>
	</div>
</div>
<div class="gray_block gb1">
	<div class="container_12">
		<div class="gallery">
			<%Gallery.all.each do |pic|%>
  			<div class="grid_3">
  				  <a href="images/big1.jpg" class="gal"><img src="<%=pic.try(:avatar).try(:url) %>" alt=""></a>
  			</div>
		  <%end%>
		</div>
	</div>
</div>